<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
<body>
<section class="login">
    <div class="img d-none d-xl-block">
        <img src="../assets/images/Wave_phone.png" alt="">
    </div>
<div class="">
  <div class="row">
    <div class="col d-none d-xl-block div-img">
      <img src="../assets/images/undraw_press_play_bx2d.svg" alt="" class="img-fluid img-phone">
    </div> 
   
    <div class=" login-container col-12 col-xl-6">
  
          <div class="container d-flex justify-content-center">
            <form class="text-center col-lg-10" style="max-width:400px" #loginForm=ngForm  (ngSubmit)="onSubmit()" >
              <img src="../assets/images/undraw_Hello_qnas.svg" class="img-fluid img-avatar rounded-pill">
              <h2 >WELCOME</h2>
              <div class="row">
                <div class="form-group col">
                   <input type="text" (blur)=" add_Class_is_valid($event)" class="form-control rounded-pill form-control-lg" name="first_name" [(ngModel)]="form.first_name"  placeholder="FirstName" required>
              </div>
              <div class="form-group col">
               <input type="text" (blur)=" add_Class_is_valid($event)" class="form-control rounded-pill form-control-lg" name="last_name" [(ngModel)]="form.last_name"  placeholder="LastName" required >
            </div>
              </div>
                <div class="form-group hasFonts special">
                  <div class="to-i">
                    <i class="fa fa-user"></i><input type="text" (blur)=" add_Class_is_valid($event)" class="form-control rounded-pill form-control-lg" [(ngModel)]="form.email" name="email"   placeholder="Email" required email  id="email" >
                  </div>
                 
                    <small id="emailHelp" class="form-text text-muted text-left" *ngIf="!error">We'll never share your email with anyone else.</small>
                    <div class="invalid-feedback-by-souhail text-left" *ngIf="error">{{error}}</div>
                
                </div>
               
                <div class="form-group hasFonts">
                  <div class="to-i">
                    <i class="fa fa-lock"></i>  <input type="password" (blur)=" add_Class_is_valid($event);verifier_password()" class="form-control rounded-pill form-control-lg" name="password" [(ngModel)]="form.password"   placeholder="Password" minlength="3" required>

                  </div>
              </div>
              


              <div class="form-group hasFonts">
                <div class="to-i">
                  <i class="fa fa-lock"></i>  <input type="password" (blur)=" add_Class_is_valid($event)" class="form-control rounded-pill form-control-lg" 
                  name="password_confirmation" [(ngModel)]="form.password_confirmation"   placeholder="Confirm Password" minlength="3" required
                  (blur)="verifier_value()" id="password_confirmation"
                  >
                </div>
                <div class="invalid-feedback-by-souhail text-left" *ngIf="invalid_feedback">Looks good!</div>
               
            </div>
           
           

            
          
              <button class=" mt-4 btn btn-primary btn-block rounded-pill" 
              [disabled]="loginForm.invalid || invalid_feedback || invalid_feedback_email " >Register</button>
              
            </form>
          </div>
       
    </div> 
   
  </div>
</div>

</section>




</body>

</html>


