<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
<body>
<section class="login">
    <div class="img d-none d-lg-block">
        <img src="../assets/images/Wave_phone.png" alt="">
    </div>
<div class="">
  <div class="row">
    <div class="col d-none d-lg-block div-img">
      <img src="../assets/images/undraw_partying_p92d (1).svg" alt="" class="img-fluid img-phone">
    </div> 
   
    <div class=" login-container col-12 col-lg-6">
  
          <div class="container d-flex justify-content-center">
            <form class="text-center col-lg-10" style="max-width:400px"  #Resetform=ngForm (ngSubmit)="onSubmit()"  >
              <img src="../assets/images/undraw_forgot_password_gi2d.svg" class="img-fluid img-avatar rounded-pill">
              <h2 >reset your Password</h2>
                <div class="form-group">
                  <i class="fa fa-user"></i><input type="text" class="form-control rounded-pill form-control-lg" placeholder="Email" [(ngModel)]="form.email"  name="email" required email >
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
               
              <button class=" mt-5 btn btn-primary btn-block rounded-pill" [disabled]="Resetform.invalid">Send me a email</button>
            </form>
          </div>
       
    </div> 
   
  </div>
</div>
</section>
</body>

</html>

