<html>
    <head>
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    </head>
    <body>
        

        <section id="banner">
              <div class="container">
                <div class="row">
                  <div class=" all-text col text-center text-md-left col-md-6" [ngsReveal]="{ reset: true}">
                    <h2 class="promo">Best Degital agency</h2>
                    <p>subscribe Adding images to the .navbar-brand will likely always require custom styles or utilities to properly size. Here are some examples to demonstrate.
                      Adding images to the .navbar-brand will likely always require custom styles or utilities to properly size. Here are some examples to demonstrate.
              
              
              </p>
                  </div>
                  <div class="col text-center col-md-6 d-none d-md-block">
                    <img src="../assets/images/undraw_heavy_box_agqi.svg" alt="" class="img-fluid imge">
              
                  </div>
              
                </div>
              </div>
            
            <img src="../assets/images/wave-white.png" alt="" class="wave">
                </section>
                

                <app-home-page></app-home-page>
    </body>
</html>