<footer class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
          <h3>Titre</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos laboriosam consectetur quis molestias tempore nemo ut accusamus doloremque, veniam in voluptatibus ipsam exercitationem ipsa cupiditate nostrum corporis, eum voluptates illo?
          </p>
        </div>
  
        <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
          <h2>Directives</h2>
          <ul>
            <li><a href="#">number 1</a></li>
            <li><a href="#">number 2</a></li>
            <li><a href="#">number 3</a></li>
            <li><a href="#">number 4</a></li>
            <li><a href="#">number 5</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
          <h2>Follow us</h2>
         <p>
           Please follow us in our social media in order to be updated. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laudantium omnis eos perferendis. Rerum corporis illum inventore sint voluptatibus facilis sequi sit nesciunt exercitationem nobis illo, eos repudiandae ipsam tempora.
         </p>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-linkedin"></i></a>
         <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
  
        <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
          <h2>Newletter</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate reiciendis, necessitatibus cum unde recusandae repudiandae impedit vel adipisci neque quaerat, eligendi ea placeat. Cupiditate quaerat doloremque labore dicta aspernatur alias.</p>
          <form action="">
  
            <div class="input-group">
              <div class="input-group-prepend">
                <input type="submit" class="input-group-text" value="Subscribe">
              </div>
              <input type="text" class="form-control" required>
            </div>
              
          </form>
        </div>
  
      </div>
    </div>
    <p class="footer-bottom-text">
      All Right reserved by &copy;Titre.2020
    </p>
  </footer>