.login .img img{
    width:700px;
    position: absolute;
    left:0;
    top:0;
    height:100%;
  
}
.login form{
 

   
}
.login form .form-control{
    font-size:15px;
    font-weight: 500;;
    min-height: 48px;

    padding-left: 6px!important;
}
.login form .form-control:focus{
    border-color:#723dbe;
    box-shadow:0 0 0 0.2rem rgba(114,61,90,.1);
}
.login form a{
    text-decoration: none;
    color:#666;
}
.login form a:hover{
color:#723dbe;

}
.login form button{
    background-color:#fff;
    color:#723dbe;
    font-size:15px;
    font-weight: 600;
    border-color:#723dbe ;
    margin-bottom:20px;
}
.login form button i{
    font-size:20px;
    margin-left:10px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 
    color:#666;
  }
.login form button:focus{

    box-shadow:0 0 0 0.2rem rgba(114,61,90,.1);
}
.login form button:hover{
    transition: all .5s ease;
    transition:all .5s;
    background-color: #723dbe;
    color:#fff;
}

@media (min-width: 0px) and (max-width: 991.98px)  { 
    .login  div  form{
        margin-top:0px;
    }
    .login-container {
        margin-top:100px;
          
           
        }
}
@media  (min-width:991.98px) and (max-width: 1199.98px) { 
    
    .login .img img{
        max-width:514px;
    }
    
  
 }

 @media  (min-width:991.98px) {
    .login-container {
        margin-top:220px;
          
           
        }
 }

 .login .div-img img{
    max-height: 400px;
    margin-top: 165px;
    margin-left:20px;

}
.login form .img-avatar{
    max-height: 93px;
    margin-bottom: 19px;
}
body{
   overflow: hidden;
}
.login form .form-group{
position: relative;
}
.login form .form-group i{
   position: absolute;
   top: 50%;
    transform: translateY(-50%) !important;
    right: 19px;
    font-size: 22px;
    font-weight: 900px;
    color: #000;
    }
    .login form .form-group i.fa-user{
        top:32%;
    }
   .carousel.slide{
       
   }
   .carousel-item img{
   
   }
   .container .col.phone img{
       height:300px !important;
       margin-top:100px;
    
   }
   .container.phone_top div img{
       height:300px;
       margin-top:100px !important;
   }
   strong{
       margin-bottom: 10px;
       color:#723dbe
   }
   p{
    margin-top: 20px;
    margin-bottom: 2rem;
   }
  