
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
<body>
<section class="login">
    <div class="img d-none d-xl-block">
        <img src="../assets/images/wave2.png" alt="">
    </div>
<div class="">
  <div class="row">
    <div class="col d-none d-xl-block div-img">
      <img src="../assets/images/undraw_press_play_bx2d.svg" alt="" class="img-fluid img-phone">
    </div> 
   
    <div class=" login-container col-12 col-xl-6">
  
          <div class="container d-flex justify-content-center">
            <form class="text-center col-lg-10" style="max-width:400px" #loginForm=ngForm  (ngSubmit)="onSubmit()" >
              <img src="../assets/images/undraw_Hello_qnas.svg" class="img-fluid img-avatar rounded-pill">
              <h2 >WELCOME</h2>
             
                <div class="form-group hasFonts special text-left">
                    <label  for="name" style='
                    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-left:9px;
                    '>Name</label>
                  <div class="to-i ">
                    <i class="fas fa-cubes "></i><input (blur)='onBlur($event)' type="text"  class="form-control  form-control-lg" [(ngModel)]="form.name" name="name"    required minlength='3' id="name">
                  </div>
                  <div class="invalid-feedback">Name has already been taken</div>
                </div>
                <div class="form-group text-left">
                    <label for="exampleFormControlTextarea1" style='
                    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-left:9px;
                    '>Descreption</label>
                    <textarea  class="form-control" id="exampleFormControlTextarea1"   name="descreption" [(ngModel)]="form.description"   minlength="8" required></textarea>
                  </div>
             


             
           
              <button class=" mt-4 btn btn-primary btn-block" [disabled]="loginForm.invalid" >Add Categorie</button>
              
            </form>
          </div>
       
    </div> 
   
  </div>
</div>
</section>
</body>

</html>

