section.features div i{
    font-size: 70px;
    color:#a517ba

}
section.features{
    background:#f8f9fa;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top:50px;
}
section.features div.cl{
    margin-top:20px;
    margin-bottom:20px;

}   
section.features div h1{
    margin-top:20px;
    margin-bottom: 25px;
} 
section.features div p{
    line-height: 29px;
    margin-top: 18px;
    letter-spacing: .2px;
} 
#choose-us{
    margin-top:51px;
    background:#f8f9fa;
    padding-top:50px;
    padding-bottom: 50px;
}
#choose-us  h1{
    margin-bottom:30px;
}
#choose-us .df p{
font-size: 30px;
margin-bottom:25px;
margin-left: 38px;
}
#choose-us ul li{
    margin-top: 10px;
    margin-bottom: 18px;
    font-family: 'Noto Sans';
    margin-left: 20px;
    font-size: 19px;

}
#choose-us  div img{
    max-height:280px;
}
#choose-us  div.contains-img{
    margin-top:10px;
}
@media (max-width: 575.98px) { 
    #choose-us div.data p{

    } 
    #choose-us  div.contains-img{
        margin-top:30px;
    }
 }
 @media (max-width: 768px) { 
    #choose-us ul li{
        font-size:15px;
    }
  }
#about-us{
    margin-top:51px;
    background:#f8f9fa;
    padding-top:50px;
    padding-bottom:50px;
}
#about-us .data{
    margin-bottom: 28px;
}
#about-us .row{
    margin-left:0;
    margin-right:0;
}
#about-us p{
 font-size: 30px;
margin-bottom:10px;
}
#about-us div i{
    font-size:30px;
    color:#a517ba;
}
@media (max-width: 575.98px) { 
    #about-us .data{
        margin-bottom:50px;
    }
 }

#join-us{
    margin-top:80px;
    padding-top:50px;
    padding-bottom: 50px;
    background-image: url("/assets/images/woman-pointing-3188559_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    color:white;
    height:500px;
    margin-bottom: 100px;
}
#join-us h1{
    margin-top: 20px;
    margin-bottom: 27px;}
#join-us p{
    font-family: 'Raleway' ;
    line-height: 34px;
    font-size: 17px;
}
#join-us button{
    font-family: 'Raleway' ;
    margin-top:30px;
    width:100%;
    max-width:  200px;
   
}

.random-product div img{
    height:320px !important;
}
section.random-product .container .row{
    margin-left:0px;
    margin-right:0px;
    }
    section.random-product .container .row .card .btn{
        width: 128px;
        font-size: 17px;
        background-color: #a517ba;
        outline:0;
        border:0;
    }
    section.random-product .container .row .card .btn:focus, section .container .row .card .btn:hover{
        box-shadow:0px 0px 0px 0px;
    }
    section.random-product{
        margin-top:51px;

        padding-top:50px;
        padding-bottom:50px;
    }
    section.random-product .card p{
        font-weight: 500;
    }
    section.random-product .card span{
        font-weight: 400;
           }
           section.random-product .text-center{
           margin-bottom:90px;
               }


section.random-product h2.title{
 margin-bottom:25px;
 font-weight: initial;
font-family: 'Raleway' ;
letter-spacing: 2px;
               }
 section.random-product .card .inner{
overflow:hidden
               }
               section.random-product .card .inner img{
                transition:all  1s ease; 
                               }
 section.random-product .card .inner:hover img{
     transform:scale(1.2);
 }


















    section{
        margin-top:100px!important;
    }


